* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 0;
}